<form action="/login" method="POST">
  <div class="input-group">
    <label for="uNumber">U-number</label>
    <input type="text" id="uNumber" name="uNumber" required>
  </div>
  <div class="input-group">
    <label for="email">Email</label>
    <input type="text" id="email" name="email" required>
  </div>
  <div class="input-group">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
  </div>
  <button type="submit">Register</button>
</form>

<script>
  const form = document.querySelector('form')

  form.addEventListener('submit', async (e) =>{
    e.preventDefault(); //Prevent the page from refreshing after submitting

    // Get the values that user input
    const uNumber = form.uNumber.value;
    const email = form.email.value;
    const password = form.password.value;

    try { // Post user's input to MongoDB
      const res = await fetch('/register', {
        method: 'POST',
        body: JSON.stringify({uNumber, email, password}),
        headers: {'Content-Type': 'application/json'}
      })
    } catch (err) {
      console.log(err);
    }
  });
</script>